<!DOCTYPE html>
<html lang="en">
<head>
    <title>{{ title }}</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="robots" content="index, follow">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="default">
    <meta name="apple-mobile-web-app-title" content="Vue Firebase SSR Template">
    <link rel="apple-touch-icon" sizes="120x120" href="/assets/logo120x120.png">
    {{/* <link rel="shortcut icon" sizes="48x48" href="/assets/favicon.png"> */}}
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta name="theme-color" content="#2847ff">
    <meta name="description" content="{{ description }}"/>
    <meta property="og:type" content="website" />
    <meta property="og:title" content="{{ title }}" />
    <meta property="og:image" content="{{ image }}" />
    <meta property="og:site_name" content="Vue Firebase SSR Template" />
    <meta property="og:description" content="{{ description }}"/>
    <!-- <meta property="og:url" content="#"> -->

    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="{{ title }}">
    <meta name="twitter:description" content="{{ description }}">
    <meta name="twitter:image" content="{{ image }}">
    <!-- <meta name="twitter:domain" content="#"> -->

    <link rel="manifest" href="/manifest.json">
    <link href="https://fonts.googleapis.com/css?family=Prompt" rel="stylesheet">
    
    <!-- Google Tag Manager -->

    <!-- End Google Tag Manager -->
</head>
<body>
    <!-- Google Tag Manager (noscript) -->
    
    <!-- End Google Tag Manager (noscript) -->
    <!--vue-ssr-outlet-->
</body>
</html>
